# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db
Desktop.ini

# ==============================
# Editores / IDE
# ==============================
.vscode/
.idea/
*.code-workspace

# ==============================
# Archivos temporales
# ==============================
*.tmp
*.temp
*.bak
*.swp

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Variables de entorno / secretos
# ==============================
.env
.env.*
!.env.example

# ==============================
# Node.js
# Por si posteriormente se utiliza npm
# ==============================
node_modules/

# ==============================
# Builds
# ==============================
dist/
build/