root{
    --color-color1: #fff;
    --color-color2: #fff;
    --color-color3: #fff;
    --color-color4: #fff;
    --color-color5: #fff;
    --color-color6: #fff;
}

#navbar_left{
    margin-left: 1rem !important;
}

#navbar_right{
    margin-right: 1rem;
}


#foto{
    height: 2rem;
}